.rightbar{
    flex: 3.5;
    
}
.rightbarwrapper{
    padding: 20px 20px 0 0;

}
.birthdayimage{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.birthdaytext{
    font-weight: 300;
    font-size: 15px;

}
.birthdaycontainer{
    display: flex;
    align-items: center;
}
.rightbarad{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0 ;
}
.rightbarfriendlist{
    padding: 0;
    margin: 0;
    list-style: none;

}
.rightbarfriend{
    display: flex;
    margin-bottom: 15px;
}
.rightbarimageconatiner{
    margin-right: 10px;
    position: relative;
}
.rightbarprofileimage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.rightbaronline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: lime;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;

}
.rightbartitle{
    margin-bottom: 20px;
}
.rightbarusername{
    font-weight: 500;
    

}