.sidebar{
    flex: 3;
    height:100vh;
    text-align: left;
    
}
.sidebarwrpper{
    padding: 200px;
    
}
.sidebarllist{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarlistitem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.sidebaricon{
    margin-right: 12px;
}
.sidebarbutton{
    width: 150px;
    border: none;
    border-radius: 5px;
    font-weight: 500px;
    padding: 10px;
}
.sidebarhr{
    margin: 20px 0;

}
.sidebarfriendlist{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarfriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}
.sidebarfriendimage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}